<!-- <div>
    <div>

        <div>
            <h3>Contacto</h3>
            <p>
                <strong>Supreme</strong>
                C/ El Pepe 88 28010,Madrid
            </p>
            <p>
                <strong>Email</strong>
                supreme@supreme.com

            </p>
            <p>
                <strong>Teléfono</strong>
                (+34) 000 666 000

            </p>


        </div>
        <div>
            <img src="../assets/images/datos-contacto.png" alt="">


        </div>
        <img src="../assets/images/mapa-tienda.png" alt="mapa">
    </div>
</div> -->

<div class="contacto">
    <div class="datos-contacto">
        <h3>Contacto</h3>
        <p>
            <strong>Supreme</strong>
            
        </p>
        <small>C/ El Pepe 88 28010,Madrid</small>
        <p>
            <strong>Email</strong>
            
        </p>
        <small>supreme@supreme.com</small> 
        <p>
            <strong>Teléfono</strong>
            
        </p>
        <small>(+34) 000 666 000</small>
    </div>
    <div class="imagen-contacto">
       <li><img src="../assets/images/datos-contacto.png" alt="">
        <button>Enviar</button>
    </li> 
        
        
        
    </div>
    <div class="mapa-tienda">
        <img src="../assets/images/mapa-tienda.png" alt="mapa">
    </div>
</div>