

<form class="container" class="form-container" [formGroup]="productoForm" (ngSubmit)="onSubmit()">
    <ul>
        <li><input formControlName="id" placeholder="Id"></li>
        <li><input formControlName="name" placeholder="Producto"></li>
        <li><input formControlName="price" placeholder="Price"> </li>
        <li><input formControlName="description" placeholder="Description"></li>
        <li><input formControlName="stars" placeholder="Stars"></li>
        <li><input formControlName="image" placeholder="Link: Imagen"></li>
        <li><button type="submit">Agregar Producto</button></li>
    </ul>
</form>


