<footer>
    <div class="listas">
<ul>
    <li class="negrita">Conócenos</li>
    <li>Trabaja en Supreme</li>
    <li>Sobre Supreme</li>
    <li>Sostenibilidad</li>
</ul>

<ul>
    <li class="negrita">Gana dinero con nosotros</li>
    <li>Vender en Supreme Business</li>
    <li>Vender en Supreme Hademade</li>
    <li>Programa de afiliados</li>
    <li>Logística en Supreme</li>
    <li>Supreme Pay</li>
    <li>Alojar un Amazon hub</li> 
</ul>

<ul>
    <li class="negrita">Método de pago Supreme</li>
    <li>Método de pago</li>
    <li>Conversor de divisas</li>
    <li>Cheque regao</li>
    <li>Recarga online</li>
    <li>Recarga en tienda</li>
</ul>

<ul>
    <li class="negrita">¿Necesitas ayuda?</li>
    <li>Amazon y COVID-19</li>
    <li>Localizar o gestionar compras</li>
    <li>Tarifas y políticas de envío</li>
    <li>Amazon Prime</li>
    <li>Devolver o reemplazar productos</li>
    <li>Gestionar contenido y dispositivos</li>
    <li>App Supreme</li>
    <li>Atencion al cliente</li>
</ul>
    </div>


<div class="redes">
    <p>Siguenos en:</p>
    <img src="../assets/images/icono-facebook.png" alt="imagen facebook">
    <img src="../assets/images/icono-instagram.png" alt="imagen instagram">
    <img src="../assets/images/icono-twitter-azul.png" alt="imagen twitter">
</div>

<p>Condiciones de Uso y Venta
    Aviso de privacidad
    Área legal
    Cookies
    Publicidad basada en intereses
    © 2000-2023, Supreme.com, Inc. o sus afiliados
</p>

</footer>


