


footer {
    background-color: #e2e0e0;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    height: 25%;
  }
  
  .listas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .listas ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .listas li {
    margin-bottom: 10px;
  }
  
  .redes {
    margin-top: 20px;
  }
  
  .redes p {
    margin-bottom: 10px;
  }
  
  .redes img {
    height: 30px;
    margin-right: 10px;
  }
  
  footer p {
    font-size: 12px;
    margin-top: 20px;
    color: #5b5b5b;
  }
  .negrita{
    font-weight: bold;
  }