div{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 30px;
    
}
a{
    text-decoration: none;
}