header{
    height: 22vh;
    background-color: rgb(255, 255, 255);
}
div{
    display: flex;
    justify-content: center;
    padding-top:10px;
    height: 10vh;
    img{
        height: 100%;
        }
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(114, 107, 107);
   
    
    
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: large;
    
}
